<div class="mat-card">
    <div id="experiencia">
        <div class="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li>
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img class="logo-image" src="./imagenes/logo1.png">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>un trabajo</h3>
                                    <p>lugar de trabajo1- <samp>tipo de jornada</samp> </p>
                                    <h4>inicio trabajo1- fin trabajo1-duracion trabajo1-</h4>
                                    <h4>lugar, pais</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="experiencia">
        <div class="card-titles">
            <h2>Educacion</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li>
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img class="logo-image" src="./imagenes/logo1.png">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>lugar de estudio 1</h3>
                                    <p>titulo de lugar de estudio 1</p>
                                    <p><time>año de egresado estudio 1 </time> - <time>año de egresado estudio 1
                                        </time></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img class="logo-image" src="./imagenes/logo1.png">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>lugar de estudio 1</h3>
                                    <p>titulo de lugar de estudio 1</p>
                                    <p><time>año de egresado estudio 1 </time> - <time>año de egresado estudio 1
                                        </time></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img class="logo-image" src="./assets/imagenes/logo1.png">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>lugar de estudio 1</h3>
                                    <p>titulo de lugar de estudio 1</p>
                                    <p><time>año de egresado estudio 1 </time> - <time>año de egresado estudio 1
                                        </time></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

