.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 100px;
    border: 50px;
    border-radius: 25px 25px 25px 25px;
    margin: 10px 10px;
}