
<!--
<div class="mat-card">
    <app-parte-superior-fija></app-parte-superior-fija>
    
    <app-principal></app-principal>
    
    
    <app-parte-superior-fija></app-parte-superior-fija>
    <app-login></app-login>
    <app-register></app-register>
    <app-principal></app-principal>
    <app-trabajos></app-trabajos>
    <app-estudios></app-estudios>
    <app-acerca-de></app-acerca-de>


    <router-outlet></router-outlet>

    <div class="mat-card">
    <app-modal></app-modal>
    </div>
<app-form-aceca-de></app-form-aceca-de>
</div>
-->


<div class="mat-card">
<app-parte-superior-fija></app-parte-superior-fija>
<router-outlet></router-outlet>
<app-principal></app-principal>
<app-estudios></app-estudios>
<app-trabajos></app-trabajos>
<app-acerca-de></app-acerca-de>
</div>
