<div class="mat-card" id="first-card">
    <div id="profile-background">
        <img src="./assets/imagenes/fondo.png">
    </div>
    <div id="info" style="padding: 16px">
        <div id="info-img">
            <img class="profile-image" src="./assets/imagenes/cara.png">
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <div id="info-data">
            <div>
                <h1>EL NOMBRE DEL TIPO</h1>
                <div id="info-company">INFORMACION DEL TIPO</div>
                <div id="info-contact">
                    <span>LUGAR X DEL TIPO</span>
                    <span><a href="#">INFORMACION DEL TIPO</a></span>
                </div>
            </div>
            <ul id="info-details">
                <li><a href="#">
                        <img src="./assets/imagenes/logo1.png">
                        <h2>TRABAJO EN CASA</h2>
                    </a></li>
                <li><a href="#">
                        <img src="./assets/imagenes/logo2.png">
                        <h2>TRABAJO EN CASA SI QUIERO</h2>
                    </a></li>
            </ul>
        </div>
        <div id="info-actions">
            <button type="button" class="btn btn-primary">tengo interes en</button>
            <button type="button" class="btn btn-light">Boton 2</button>
            <button type="button" class="btn btn-light">Boton 3</button>
        </div>
    </div>
</div>
