<div class="mat-card" id="estudios">
    <div id="experiencia">
        <div class="card-titles">
            <h2>Estudios</h2>
            <div *ngIf="loginSi" class="btn-edit" (click)="mostrar_formularioadd()">
                <a href="#formularioadd" class="btn-right">
                    <i class="fa fa-plus"></i>
                    
                </a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li *ngFor="let estudioX of listaDeEstudios">
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img class="logo-image" [src]="estudioX.logo">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>{{estudioX.titulo}}</h3>
                                    <h4>{{estudioX.institucion}}</h4>
                                    <p>{{estudioX.carrera}}</p>
                                    <p>Duracion {{estudioX.duracion}} años</p>
                                    <p>
                                        <time>Ingreso {{estudioX.ingreso}}</time> - 
                                        <time>Egreso {{estudioX.egreso}}</time>
                                    </p>
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<form *ngIf="add" class="mat-card" id="formularioadd" (ngSubmit)="onSubmit()">
    <div>
        <label for="text">institucion</label>
        <input type="text" name="text" id="text1" placeholder="agregar algo 1"
        [(ngModel)]="institucion">
    </div>
    <div>
        <label for="text">Titulo</label>
        <input type="text" name="text" id="text2" placeholder="agregar algo 2"
        [(ngModel)]="titulo">
    </div>
    <div>
        <label for="text">Logo</label>
        <input type="text" name="text" id="text3" placeholder="agregar algo 3"
        [(ngModel)]="logo">
    </div>
    <div>
        <label for="text">Carrera</label>
        <input type="text" name="text" id="text4" placeholder="agregar algo 4"
        [(ngModel)]="carrera">
    </div>
    <div>
        <label for="text">Duracion</label>
        <input type="number" name="num" id="num1" placeholder="agregar algo 5"
        [(ngModel)]="duracion">
    </div>
    <div>
        <label for="text">Ingreso</label>
        <input type="number" name="num" id="num2" placeholder="agregar algo 6"
        [(ngModel)]="ingreso">
    </div>
    <div>
        <label for="text">Egreso</label>
        <input type="datetime" name="num" id="num3" placeholder="agregar algo 7"
        [(ngModel)]="egreso">
    </div>
    {{institucion}},{{titulo}},{{logo}}
    <input type="submit" value="Guardar" class="btn btn-outline-primary me-2">
    <button type="button" class="btn btn-outline-primary me-2" (click)="mostrar_formularioadd()">Cerrar</button>
</form>