<div class="mat-card" id="estudios">
    <div id="experiencia">
        <div class="card-titles">
            <h2>Educacion</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li *ngFor="let estudioX of listaDeEstudios">
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img class="logo-image" src="./assets/imagenes/logo1.png">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>{{estudioX.titulo}}</h3>
                                    <p>titulo de lugar de estudio 1</p>
                                    <p>
                                        <time>{{estudioX.ingreso}}</time> - 
                                        <time>{{estudioX.egreso}}</time>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>