<!-- Button trigger modal -->

  
  



<form class="mat-card"(ngSubmit)="onSubmit()">
    <div>
        <label for="text">tarea1</label>
        <input type="text" name="text" id="text1" placeholder="agregar algo1"
        [(ngModel)]="text1">
    </div>
    <div>
        <label for="text">tarea2</label>
        <input type="text" name="text" id="text2" placeholder="agregar algo2"
        [(ngModel)]="text2">
    </div>
    <div>
        <label for="text">tarea3</label>
        <input type="text" name="text" id="text3" placeholder="agregar algo3"
        [(ngModel)]="text3">
    </div>
    {{text1}},{{text2}},{{text3}}
    <input type="submit" value="save" class="btn">
    <button 
          type="button" 
          class="btn btn-outline-primary me-2"
          
          >
          Logout
        </button>
</form>
