<div class="mat-card">
    <div id="trabajos">
        <div class="card-titles">
            <h2>Experiencia</h2>
            <div *ngIf="loginSi" class="btn-edit" (click)="mostrar_formularioadd()">
                <a class="btn-right">
                    <!--href="#formularioTrabajo"-->
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <!--     <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-plus"></i>
                </a>
            </div> -->
        </div>
        <div>
            <ul class="items-list">
                <li *ngFor="let trabajoX of listaDeTrabajos">
                    <div class="data-container">
                        <a>
                            <div class="logo-image-container">
                                <img class="logo-image" [src]="trabajoX.logo">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>{{trabajoX.empresa}}</h3>
                                    <p>{{trabajoX.puesto}}-
                                        <samp>tipo de jornada</samp>
                                    </p>
                                    <h4>{{trabajoX.ingreso}},
                                        {{trabajoX.egreso}},
                                        {{trabajoX.egreso-trabajoX.ingreso}}
                                    </h4>
                                    <h4>{{trabajoX.lugar}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control" *ngIf="loginSi">
                        <div class="btn-edit" (click)="trabajox(trabajoX.id)">
                            <a>
                                <!--href="#formularioTrabajo"-->
                                <i class="fa fa-pen-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="data-control" *ngIf="loginSi">
                        <div class="btn-edit" (click)="deleteEstudio(trabajoX)">
                            <a>
                                <i class="fa fa-eraser"></i>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>-->
                </li>
            </ul>
        </div>

    </div>
</div>
<div id="formularioTrabajo"></div>
<form *ngIf="add||edit" class="mat-card" (ngSubmit)="onSubmit()">
    <div *ngIf="edit">
        <h4>Editar </h4>
    </div>
    <div *ngIf="add">
        <h4>Agregar </h4>
    </div>
    <div>

        <label for="text">
            <h4>Empresa</h4>
        </label>
        <div>
            <input type="text" name="text" id="text1" placeholder="agregar algo 1" [(ngModel)]="empresa">
        </div>
    </div>
    <div>
        <label for="text">
            <h4>Puesto</h4>
        </label>
        <div>
            <input type="text" name="text" id="text2" placeholder="agregar algo 2" [(ngModel)]="puesto">
        </div>
    </div>
    <div>
        <label for="text">
            <h4>Logo</h4>
        </label>
        <div>
            <input type="text" name="text" id="text3" placeholder="agregar algo 3" [(ngModel)]="logo">
        </div>
    </div>
    <div>
        <label for="text">
            <h4>Lugar</h4>
        </label>
        <div>
            <input type="text" name="text" id="text4" placeholder="agregar algo 4" [(ngModel)]="lugar">
        </div>
    </div>
    <div>
        <label for="text">
            <h4>Duracion</h4>
        </label>
        <div>
            <input type="number" name="num" id="num1" placeholder="agregar algo 5" [(ngModel)]="duracion">
        </div>
    </div>
    <div>
        <label for="text">
            <h4>Ingreso</h4>
        </label>
        <div>
            <input type="number" name="num" id="num2" placeholder="agregar algo 6" [(ngModel)]="ingreso">
        </div>
    </div>
    <div>
        <label for="text">
            <h4>Egreso</h4>
        </label>
        <div>
            <input type="datetime" name="num" id="num3" placeholder="agregar algo 7" [(ngModel)]="egreso">
        </div>
    </div>
    <!--{{institucion}},{{titulo}},{{logo}}-->
    <input type="submit" value="Guardar" class="btn btn-outline-primary me-2">
    <button type="button" class="btn btn-outline-primary me-2" (click)="cerrar_formulario()">Cerrar</button>
</form>