<div class="mat-card"id="trabajos">
    <div id="experiencia">
        <div class="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li *ngFor="let trabajoX of listaDeTrabajos">
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img class="logo-image" [src]="trabajoX.logo">
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>{{trabajoX.empresa}}</h3>
                                    <p>{{trabajoX.puesto}}- 
                                        <samp>tipo de jornada</samp> 
                                    </p>
                                    <h4>{{trabajoX.ingreso}},
                                        {{trabajoX.egreso}},
                                        {{trabajoX.egreso-trabajoX.ingreso}}
                                    </h4>
                                    <h4>{{trabajoX.lugar}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
   

</div>

